
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form action="/products/create" method="post">
          <div class="form-group">
              <input type="text" name="ID" class="form-control" placeholder="ID" />
          </div>
          <div class="form-group">
              <input type="text" name="INAME" class="form-control" placeholder="INAME" />
          </div>
          <div class="form-group">
              <input type="text" name="EMAIL" class="form-control" placeholder="DESC" />
          </div>
          <div class="form-group">
              <input type="text" name="PRICE" class="form-control" placeholder="PRICE" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save Product</button>
          </div>
      </form>
    </div>
  </div>
</div>